WebContent/wsdl/ServiceDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addUsuario">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUsuarioResponse">
    <complexType>
     <sequence>
      <element name="addUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addUsuarioRequest">

      <wsdl:part element="impl:addUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUsuarioResponse">

      <wsdl:part element="impl:addUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceDAO">

      <wsdl:operation name="addUsuario">

         <wsdl:input message="impl:addUsuarioRequest" name="addUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUsuarioResponse" name="addUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceDAOSoapBinding" type="impl:ServiceDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceDAOService">

      <wsdl:port binding="impl:ServiceDAOSoapBinding" name="ServiceDAO">

         <wsdlsoap:address location="http://localhost:8080/PDS-CRM/services/ServiceDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
