WebContent/wsdl/ServiceDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://orm.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://orm.org"/>
   <element name="addUsuario">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUsuarioResponse">
    <complexType>
     <sequence>
      <element name="addUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaSimple">
    <complexType>
     <sequence>
      <element name="cadenaBusqueda" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaSimpleResponse">
    <complexType>
     <sequence>
      <element name="busquedaSimpleReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:PersistentException"/>
   <element name="busquedaAvanzada">
    <complexType>
     <sequence>
      <element name="run" type="xsd:string"/>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="fono" type="xsd:string"/>
      <element name="direccion" type="xsd:string"/>
      <element name="genero" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busquedaAvanzadaResponse">
    <complexType>
     <sequence>
      <element name="busquedaAvanzadaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://orm.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="PersistentException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addUsuarioRequest">

      <wsdl:part element="impl:addUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaSimpleRequest">

      <wsdl:part element="impl:busquedaSimple" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaSimpleResponse">

      <wsdl:part element="impl:busquedaSimpleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaAvanzadaRequest">

      <wsdl:part element="impl:busquedaAvanzada" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PersistentException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busquedaAvanzadaResponse">

      <wsdl:part element="impl:busquedaAvanzadaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUsuarioResponse">

      <wsdl:part element="impl:addUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServiceDAO">

      <wsdl:operation name="addUsuario">

         <wsdl:input message="impl:addUsuarioRequest" name="addUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUsuarioResponse" name="addUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="busquedaSimple">

         <wsdl:input message="impl:busquedaSimpleRequest" name="busquedaSimpleRequest">

       </wsdl:input>

         <wsdl:output message="impl:busquedaSimpleResponse" name="busquedaSimpleResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="busquedaAvanzada">

         <wsdl:input message="impl:busquedaAvanzadaRequest" name="busquedaAvanzadaRequest">

       </wsdl:input>

         <wsdl:output message="impl:busquedaAvanzadaResponse" name="busquedaAvanzadaResponse">

       </wsdl:output>

         <wsdl:fault message="impl:PersistentException" name="PersistentException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceDAOSoapBinding" type="impl:ServiceDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="busquedaSimple">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="busquedaSimpleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="busquedaSimpleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="busquedaAvanzada">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="busquedaAvanzadaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="busquedaAvanzadaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="PersistentException">

            <wsdlsoap:fault name="PersistentException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceDAOService">

      <wsdl:port binding="impl:ServiceDAOSoapBinding" name="ServiceDAO">

         <wsdlsoap:address location="http://localhost:8080/PDS-CRM/services/ServiceDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
